.maincontainer{
    display: flex;
    background-color: #F5F5F5;
    position: inherit;
    flex-direction: row;
}

.header {
    display: flex;
    gap: 25px;
    width: 90%;
    height: 10%;
    align-items: center;
}

.header-logos{
    display:flex;
    height: 100%;
    align-self: center;
    flex:1;
}

.akali-logo {
    width: 10%;
    height: 10%;
}

.nasa-logo {
    width: 60%;
    height: 60%; 
}

.main-title{
    font-family: 'Heavitas';
    font-size: 40px;
    color: #D4D4D4;
    text-shadow: 0px 4px 15px #FFF5B4;
    -webkit-text-stroke: 1px #FFF5B4;
}