<div class="side-bar-container">
   <div class="buttons-container">
      <button (click)="selectComponent('Driver Station')">
         <img src="assets/icons/driverstation.svg" alt="Driver Station Icon" width="30" height="30">
         Driver Station</button>
      <button (click)="selectComponent('LiDAR')">
         <img src="assets/icons/lidar.svg" alt="LiDAR Icon" width="30" height="30">
         LiDAR</button>
      <button (click)="selectComponent('Cameras')">
         <img src="assets/icons/camera.svg" alt="LiDAR Icon" width="30" height="30">
         Camera</button>
   </div>
</div>