.lidarComponentContainer {
    display: flex;
    background-color: #000000;
    height: 100%;
    width: 100%;
    flex-direction: row;
    position: absolute;
}


.graphContainer {
    justify-content: center;
    width: 50%;
    padding: 1%;
}

.dataDisplay {
    width: 70%;
    padding: 1%;
}

h1 {
    font-family: 'Geoform';
    color:aliceblue;
}